@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

i {
    font-style: normal;
}

img {
    width: 75%;
}

.flex {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    width: 100%;
}

main {
    position: relative;
}

.empty {
    background-image: url('./images/bg-main-mobile.png');
    flex-direction: column-reverse;
    padding: 1em;
    background-repeat: no-repeat;
}

.cardFront {
    color: white;
    position: relative;
}

.circles {
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 12px;
    padding-top: 12px;
}

.cardDetails {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 12px;
    padding-bottom: 12px;
}
.frontCardFooter{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}
.whiteCircle {
    background-color: white;
    border-radius: 50%;
    padding: 1em 1.1em;
}

.borderCircle {
    border: 2px solid white;
    padding: 1px 3px;
    border-radius: 50%;
    margin-left: 1em;
}

@media only screen and (min-width: 800px) {
    .flex {
        flex-direction: row;
    }
}